body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagen-container {
    margin-right: 20px;
}

#imagen {
    max-width: 100%;
    border: 5px solid #ddd;
    border-radius: 8px;
    z-index: 1;
}

.info-container {
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1,
label {
    color: #ddd;
}

#disciplina {
    margin-bottom: 10px;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.slider label {
    margin-bottom: 5px;
}

.question-container {
    text-align: right;
    margin-bottom: 10px;
}

#adivinanza {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #2e6130;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}